<div class="container">
    <%= link_to 'Back', urls_path, :class => 'btn btn-info' %>
        <p id="notice">
            <%= notice %>
        </p>
        <div class="form-group">
            <label>Url</label>
            <p><strong><%= @url.link %></strong></p>
        </div>
        <div class="form-group">
            <label>View</label>
            <div>
                <iframe srcdoc="<%= @url.content %>" width="100%" height="500">error!</iframe>
            </div>
        </div>
</div>